<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4941d4966e.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <div class="header__topbar">
            <div class="header__cont-logo">
                <img class="header__logo" src="images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                <div class="header__cont-busqueda">
                    
                    <button class="header__botonBusqueda"><input class="header__input" placeholder="Buscar productos, marcas" type="text"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                    
                
            </div>
            
            <div class="header__cont-texto">
                <h2 class="header__text">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
    
            
            
        </div>

        <a href="#" class="header__hamburguer-menu">
            <i class="fa-solid fa-bars header__burguer-icon"></i>
        </a>

        <nav class="header__navbar">
            <ul class="header__left-navbar">
                <li><a href="#">Oficiales</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="header__right-navbar">
                <li><a href="/register">Creá tu cuenta</a></li><i class="fa-regular fa-address-card header__icono--signup" style="color: black;"></i>

                <li><a href="#">Ingresá</a></li><i class="fa-solid fa-arrow-right-to-bracket header__icono--login" style="color: black;"></i>
                <li><a href="#">Mis compras</a></li><i class="fa-solid fa-basket-shopping header__icono--compras" style="color: black;"></i>
            </ul>
        </nav>
    </header>

   

    
    <img class="main__banner" src="/images/img-home-banner.jpg" alt="home-banner">

    <main class="main">

        

        <div class="main__contTitular">
            <h3 class="main__titular">Basado en tu útlima visita</h3>
        </div>

        <section class="main__ultimaVisita">
            <article class="main__card">
                <img class="card__img" src="images/img-cafetera-moulinex.jpg" alt="">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <div class="card__cont-descripcion">
                    <p class="card__descripcion">Cafetera Moulinex</p>
                </div>
                
                
            </article>
            <article class="main__card">
                <img class="card__img" src="images/img-macbook-pro-2019.jpg" alt="macbook 2019">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">MacBook Pro 2019</p>
            </article>

            <article class="main__card">
                <img class="card__img" src="images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">Samsung Galaxy S10</p>
            </article>

            <article class="main__card">
                <img class="card__img" src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div> 
                <p class="card__descripcion">Samsung Galaxy S10</p>
               
            </article>
            
            
            
        </section>

        <div class="main__contTitular main__contTitular--ofertas">
            <h3 class="main__titular">Ofertas</h3>
        </div>
        <section class="main__ofertas">       

            <article class="main__card">
                <img class="card__img" src="images/img-cafetera-moulinex.jpg" alt="">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">Samsung Galaxy S10</p>

            </article>

            <article class="main__card">
                <img class="card__img" src="images/img-macbook-pro-2019.jpg" alt="macbook 2019">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">MacBook Pro 2019</p>
            </article>

            <article class="main__card">
                <img class="card__img" src="images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">Samsung Galaxy S10</p>
            </article>

            <article class="main__card">
                <img class="card__img" src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung">
                <i class="fa-solid fa-truck main__icon-delivery"></i>
                <div class="card__cifras">
                    <p class="card__precios">$6.670</p>
                    <p class="card__descuento">40% off</p>
                </div>
                <p class="card__descripcion">Smart Tv Samsung 43" </p>
            </article>
        
        </section>
</main>

<footer class="footer">
    <section class="footer__container">
        <div class="footer__formaPagos footer__boxes">
            <i class="footer__iconos fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="footer__textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </p>
        </div>
        <div class="footer__envios footer__boxes">
            <i class="footer__iconos fa-solid fa-gift"></i>
            <h3>Envío gratis desde los $2500</h3>
            <p class="footer__textos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer__seguridad footer__boxes">
            <i class="footer__iconos fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="footer__textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
    </section>
        
    <div class="footer__copyright">
        <h3 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </div>
</footer> 

</body>
</html>




<!-- <body>
    <header class="header">
        <img class="header__logo" src="images/logo-mercado-liebre.svg" alt="logo">
        <input class="header__input" placeholder="Buscar productos, marcas" type="text">
        <button class="header__botonBusqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
        <i class="header__icono fa-solid fa-hand-holding-dollar"></i><p class="header__contenido">Comprá en cuotas y sin tarjeta de crédito</p>
        
        <ul class="header__lista">
            <a class="header__vinculo" href="#"><li class="header__elemento">Ofertas</li></a>
            <a class="header__vinculo" href="#"><li class="header__elemento">Tiendas Oficiales</li></a>
            <a class="header__vinculo" href="#"><li class="header__elemento">Vender</li></a>
            <a class="header__vinculo" href="#"><li class="header__elemento">Ayuda</li></a>
        </ul>

        <ul class="header__lista">
            <a class="header__vinculo header__vinculo--signup" href="#">
                <li class="header__elemento--signup">Creá tu cuenta</li>
                <i class="fa-regular fa-address-card header__icono--signup" style="color: black;"></i>
            </a>
            
            
            <a class="header__vinculo header__vinculo--login" href="#">
                <li class="header__elemento header__elemento--login">Ingresá</li>
                <i class="fa-solid fa-arrow-right-to-bracket header__icono--login" style="color: black;"></i>
            </a>
            
            
            <a class="header__vinculo header__vinculo--compras" href="#">
                <li class="header__elemento header__elemento--compras">Mis compras</li>
                <i class="fa-solid fa-basket-shopping header__icono--compras" style="color: black;"></i>
            </a>
            
            
        </ul>
        BOTON MENU HAMB DESPLEGABLE 
        <div class="header__containerBtnMenu">
            <i class="fa-solid fa-bars header__iconoMenu" style="color: white;"></i>
        </div>
        <div class="header__banner">
            <img class="header__banner" src="images/img-home-banner.jpg" alt="banner home">
        </div>
    </header>

    <main class="main">
            <section class="main__ultimaVisita">
                <article class="main__card">
                    <h3 class="main__titular">Basado en tu última visita</h3>
                    <img class="card__img" src="images/img-cafetera-moulinex.jpg" alt="">
                    <div class="card__contenedor">
                        <p class="card__precios">$6.670</p>
                        <p class="card__descuento">40% OFF</p>
                        <p class="card__descripcion">Cafetera Moulinex</p>
                    </div>
                    
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-macbook-pro-2019.jpg" alt="macbook 2019">
                    <p class="card__precios">$230.000</p>
                    <p class="card__descuento">20% OFF</p>
                    <p class="card__descripcion">MacBook Pro 2019</p>
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                    <p class="card__precios">$70.500</p>
                    <p class="card__descuento">10% OFF</p>
                    <p class="card__descripcion">Samsung Galaxy S10</p>
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung">
                    <p class="card__precios">$23.200</p>
                    <p class="card__descuento">5% OFF</p>
                    <p class="card__descripcion">Smart Tv Samsung 43"</p>
                </article>
                
                
                
            </section>
            <section class="main__ofertas">
                <article class="main__card">
                    <h3 class="main__titular">Ofertas</h3>
                    <img class="card__img" src="images/img-cafetera-moulinex.jpg" alt="">
                    <p class="card__precios">$6.670</p>
                    <p class="card__precios">40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-macbook-pro-2019.jpg" alt="macbook 2019">
                    <p class="card__precios">$230.000</p>
                    <p class="card__descuento">20% OFF</p>
                    <p class="card__descripcion">MacBook Pro 2019</p>
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-samsung-galaxy-s10.jpg" alt="samsung s10">
                    <p class="card__precios">$70.500</p>
                    <p class="card__descuento">10% OFF</p>
                    <p class="card__descripcion">Samsung Galaxy S10</p>
                </article>
                <article class="main__card">
                    <img class="card__img" src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung">
                    <p class="card__precios">$23.200</p>
                    <p class="card__descuento">5% OFF</p>
                    <p class="card__descripcion">Smart Tv Samsung 43" </p>
                </article>
                
                
                
                
            </section>
    </main>

    <footer class="footer">
        <section class="footer__formaPagos">
            <i class="footer__iconos fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="footer__textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro! </p>
        </section>
        <section class="footer__envios">
            <i class="footer__iconos fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p class="footer__textos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footer__seguridad">
            <i class="footer__iconos fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="footer__textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <section class="footer__copyright">
            <h3 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>

</body> -->
