<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles-login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4941d4966e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header__topbar">
            <div class="header__cont-logo">
                <img class="header__logo" src="images/logo-mercado-liebre.svg" alt="logo-mercadoliebre">
                <div class="header__cont-busqueda">
                    
                    <button class="header__botonBusqueda"><input class="header__input" placeholder="Buscar productos, marcas" type="text"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                    
                
            </div>
            
            <div class="header__cont-texto">
                <h2 class="header__text">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
    
            
            
        </div>

        <a href="#" class="header__hamburguer-menu">
            <i class="fa-solid fa-bars header__burguer-icon"></i>
        </a>

        <nav class="header__navbar">
            <ul class="header__left-navbar">
                <li><a href="#">Oficiales</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="header__right-navbar">
                <li><a href="/register">Creá tu cuenta</a></li><i class="fa-regular fa-address-card header__icono--signup" style="color: black;"></i>

                <li><a href="/login">Ingresá</a></li><i class="fa-solid fa-arrow-right-to-bracket header__icono--login" style="color: black;"></i>
                <li><a href="#">Mis compras</a></li><i class="fa-solid fa-basket-shopping header__icono--compras" style="color: black;"></i>
            </ul>
        </nav>
    </header>


    <main class="main__login">
        <section class="login">
        
            <div class="login__cont">
    
                <label class="login__input-user-name">
                    <input class="input__user-name" placeholder="Nombre de usuario"  type="text">
                </label>
                <label class="login__input-pass"> 
                    <input placeholder="Elegí tu contraseña" class="input__pass" type="password">
                </label>
                <a class="btn__submit" href="/">
                    <button class="login__btn-submit" type="submit">Enviar</button>
                </a>
                
            </div>
                
    
            
                
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container">
            <div class="footer__formaPagos footer__boxes">
                <i class="footer__iconos fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="footer__textos">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="footer__envios footer__boxes">
                <i class="footer__iconos fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $2500</h3>
                <p class="footer__textos">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer__seguridad footer__boxes">
                <i class="footer__iconos fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="footer__textos">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
        </section>
            
        <div class="footer__copyright">
            <h3 >Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
    </footer>
    
</body>
</html>